* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  text-transform: uppercase;
  width: 7%;
  display: inline;
}
.btn-black {
  color: #fff;
  background-color: #000;
  border: 1px solid transparent;
}
.btn-black:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.btn-transparent {
  border: 1px solid #000;
  color: #000;
}
.btn-transparent:hover {
  background-color: #000;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #000;
}
.btn-white:hover {
  background-color: #cecece;
}

header {
  width: 100%;
  height: 100px;
  background-color: #000;
}
header .container {
  max-width: 1170px;
  margin: 0 auto;
}
header .header-top {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
header .header-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header .header-top ul li {
  padding: 18px;
  font-size: 0.9em;
}
header .header-top ul li a {
  color: #cecece;
}
header .header-top ul li a:hover {
  color: #fff;
}
header .header-top ul li a i {
  margin-right: 5px;
  color: #009cff;
}
header .header-bottom {
  height: calc(100px - 45px);
  width: 90%;
}
header .header-bottom ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
header .header-bottom ul li {
  color: #fff;
  padding: 18px;
  cursor: pointer;
}
header .header-bottom ul li:not(:first-child):hover {
  background-color: #fff;
  color: #000;
}
header .header-bottom ul li:not(:first-child):hover a {
  color: #000;
}
header .header-bottom ul li img {
  width: 70px;
}
header .header-bottom ul li a {
  color: #fff;
}
header .header-bottom ul li i {
  font-size: 0.6em;
}

header li.parent-dropdown {
  position: relative;
}
header li.parent-dropdown .dropdown {
  position: absolute;
  top: 96%;
  width: 250px;
  left: 0;
  background-color: #fff;
  display: none;
}
header li.parent-dropdown .dropdown ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
header li.parent-dropdown .dropdown ul li {
  width: 100%;
  cursor: pointer;
}
header li.parent-dropdown .dropdown ul li:hover {
  background-color: #cecece;
}
header li.parent-dropdown:hover .dropdown {
  display: block;
}

.jumbotron {
  width: 100%;
  height: 550px;
  padding: 50px;
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  background-position: center;
}
.jumbotron .container {
  max-width: 1170px;
  margin: 0 auto;
}
.jumbotron img {
  width: 60%;
}
.jumbotron .box-item-jumbo {
  padding: 18px;
  width: 40%;
}
.jumbotron .box-item-jumbo img,
.jumbotron .box-item-jumbo p {
  margin-bottom: 40px;
}
.jumbotron .box-item-jumbo h3,
.jumbotron .box-item-jumbo p:not(:first-child) {
  font-style: italic;
}
.jumbotron .text-jumbo div {
  color: #c70cb9;
}

#possibilities {
  width: 100%;
  background-color: #e8e8e8;
  padding: 50px;
}
#possibilities .container {
  max-width: 1170px;
  margin: 0 auto;
}
#possibilities h2 {
  letter-spacing: 1.2px;
  font-weight: normal;
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 20px;
}
#possibilities .box-row-poss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#possibilities .box-row-poss .box-item-row {
  width: 32%;
  background-color: #fff;
  cursor: pointer;
}
#possibilities .box-row-poss .box-item-row .box-img-row {
  width: 100%;
}
#possibilities .box-row-poss .box-item-row .box-img-row img {
  width: 100%;
}
#possibilities .box-row-poss .box-item-row .box-text-row {
  width: 100%;
  padding: 18px;
  line-height: 1.6;
}
#possibilities .box-row-poss .box-item-row .box-text-row .new {
  font-style: italic;
  color: #009cff;
}
#possibilities .box-row-poss .box-item-row .box-text-row p {
  margin: 20px 0;
}
#possibilities .box-row-poss .box-item-row .box-text-row a {
  color: #009cff;
}
#possibilities .box-row-poss .box-item-row .box-text-row a:hover {
  text-decoration: underline;
}

#gallery {
  width: 100%;
  background-color: #e8e8e8;
  padding-bottom: 40px;
}
#gallery .container {
  max-width: 1170px;
  margin: 0 auto;
}
#gallery .box-row-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#gallery .box-row-gallery .box-gallery {
  width: 50%;
  height: 325px;
}
#gallery .box-row-gallery .box-gallery h4 {
  color: #fff;
  font-size: 1.8em;
}
#gallery .box-row-gallery .box-gallery p {
  color: #cecece;
  margin: 30px 0;
  font-size: 1.1em;
  line-height: 1.6;
}
#gallery .box-row-gallery .box-gallery.blue, #gallery .box-row-gallery .box-gallery.violet, #gallery .box-row-gallery .box-gallery.grey {
  padding: 50px;
}
#gallery .box-row-gallery .box-gallery.violet {
  background-color: #3c1567;
}
#gallery .box-row-gallery .box-gallery.mushrooms {
  background-image: url("../img/wacom-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#gallery .box-row-gallery .box-gallery.mushrooms img {
  width: 80%;
  position: absolute;
  top: 5px;
  left: 10px;
}
#gallery .box-row-gallery .box-gallery.mushrooms small {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #cecece;
}
#gallery .box-row-gallery .box-gallery.eye {
  background-image: url("../img/eye.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery .box-row-gallery .box-gallery.eye small {
  position: absolute;
  font-size: 0.8em;
  bottom: 10px;
  left: 15px;
  color: #cecece;
}
#gallery .box-row-gallery .box-gallery.grey {
  background-color: #3c3c3c;
}
#gallery .box-row-gallery .box-gallery.blue {
  background-color: #009cff;
}
#gallery .box-row-gallery .box-gallery.businnes {
  background-image: url("../img/business-education.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  width: 100%;
  height: 450px;
}
footer .footer-top {
  width: 100%;
  height: 370px;
}
footer .footer-top .container {
  max-width: 1170px;
  margin: 0 auto;
}
footer .footer-top .box-item-top {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer-top .box-item-top ul li {
  padding: 10px 0;
}
footer .footer-top .box-item-top ul li .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer-top .box-item-top ul li .social i {
  font-size: 1.2em;
  margin-right: 15px;
}
footer .footer-bottom {
  width: 100%;
  height: calc(450px - 370px);
  background-color: #000;
  color: #fff;
}
