header li.parent-dropdown{
    position: relative;
    .dropdown{
        position: absolute;
        top: 96%;
        width: 250px;
        left: 0;
        background-color: $colorWhite;
        display: none;
        ul{
            @include flex(center ,flex-start);
            flex-direction: column;
            li{
                width: 100%;
                cursor: pointer;
                &:hover{
                    background-color: $lightGrey;
                }
            }
        
        }
    }
    &:hover{
        .dropdown{
            display: block;
        }
    }
}