footer{
    width: $widthAll;
    height:$footerHeight;
    .#{&}-top{
        @include containerLg;
        width: $widthAll;
        height: $footerTop;
        .box-item-top{
            padding: $p-t;
            @include flex(space-between);
            ul li{
                padding: 10px 0;
                .social{
                    @include flex;
                    i{
                        font-size: 1.2em;
                        margin-right: 15px;

                    }
                }
            }
        }
    }

    .#{&}-bottom{
        width: $widthAll;
        height: $footerBottom;
        background-color: $colorBlack;
        color: $colorWhite;
    }
}