#gallery{
    width: $widthAll;
    background-color: $backGrey;
    padding-bottom: 40px;
    @include containerLg;
    .box-row-gallery{
        @include flex($wrap: wrap);
            .box-gallery{
                width: 50%;
                height: 325px;
                h4{
                    color: $colorWhite;
                    font-size: 1.8em;
                }
                p{
                    color: $lightGrey;
                    margin: 30px 0;
                    font-size: 1.1em;
                    line-height: 1.6;
                }
                &.blue,
                &.violet,
                &.grey{
                    padding: $p-t;
                }

                &.violet{
                    background-color: $lightViolet;
                }
                &.mushrooms{
                    background-image: url('../img/wacom-background.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    img{
                        width: 80%;
                        position: absolute;
                        top: 5px;
                        left: 10px;
                    }
                    small{
                        position: absolute;
                        bottom: 10px;
                        left: 15px;
                        color:$lightGrey;
                    }
                }
                &.eye{
                    background-image: url('../img/eye.jpg');
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    small{
                        position: absolute;
                        font-size: 0.8em;
                        bottom: 10px;
                        left: 15px;
                        color:$lightGrey;
                    }
                }
                &.grey{
                    background-color: #3c3c3c;
                }
                &.blue{
                    background-color: $lightBlue;
                }
                &.businnes{
                    background-image: url('../img/business-education.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
    }
}