header{
    width: 100%;
    height: $headerHeight;
    background-color: $colorBlack;
    @include containerLg;
    .#{&}-top{
        height: $headerTop;
        @include flex(flex-end);
        ul{
        @include flex();
            li{
                padding: $p-20;
                font-size: 0.9em;
                a{
                    color: $lightGrey;
                    &:hover{
                        color: $colorWhite;
                    }
                    i{
                        margin-right: $m-r;
                        color: $lightBlue;
                    }
                }
            }

        }

    }

    .#{&}-bottom {
        height: $headerBottom;
        width: 90%;
        ul{
            @include flex (space-around);
            li{
                color: $colorWhite;
                padding: $p-20;
                &:not(:nth-child(1)):hover{
                    background-color: $colorWhite;
                    color: $colorBlack;
                    a{
                        color: $colorBlack;
                    }
                }
                img{
                    width: 70px;
                }
                a{
                    color: $colorWhite;
                }
                i{
                    font-size: 0.6em;
                }
            }
        }
    }
}