// colors
$colorBlack: #000;
$lightBlue: #009cff;
$colorWhite: #fff;
$colorViolet: #c70cb9;
$lightGrey: #cecece;

// height and width
$headerHeight: 100px;
$headerTop: 45px;
$headerBottom: calc(#{$headerHeight} - #{$headerTop});
$widthContain: 1170px;

// padding and margin
$p-15: 15px;
$p-20: 18px;
$p-t: 50px;
$m-r: 5px;