// colors
$colorBlack: #000;
$lightBlue: #009cff;
$colorWhite: #fff;
$colorViolet: #c70cb9;
$lightGrey: #cecece;
$backGrey: #e8e8e8;
$lightViolet: #3c1567;

// height and width
$headerHeight: 100px;
$headerTop: 45px;
$headerBottom: calc(#{$headerHeight} - #{$headerTop});
$footerHeight: 470px;
$footerTop: 370px;
$footerBottom: calc(#{$footerHeight} - #{$footerTop});
$widthContain: 1170px;
$widthAll: 100%;

// padding and margin
$p-15: 15px;
$p-20: 18px;
$p-t: 50px;
$m-r: 5px;